@font-face {
  font-family: 'Amelia-Basic';
  src: url("../fonts/Amelia-Basic-Light.eot");
  src: url("../fonts/Amelia-Basic-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Amelia-Basic-Light.woff2") format("woff2"), url("../fonts/Amelia-Basic-Light.woff") format("woff"), url("../fonts/Amelia-Basic-Light.svg#Amelia-Basic-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Amelia-Basic';
  src: url("../fonts/Amelia-Basic.eot");
  src: url("../fonts/Amelia-Basic.eot?#iefix") format("embedded-opentype"), url("../fonts/Amelia-Basic.woff2") format("woff2"), url("../fonts/Amelia-Basic.woff") format("woff"), url("../fonts/Amelia-Basic.svg#Amelia-Basic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amelia-Basic';
  src: url("../fonts/Amelia-Basic-Bold.eot");
  src: url("../fonts/Amelia-Basic-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Amelia-Basic-Bold.woff2") format("woff2"), url("../fonts/Amelia-Basic-Bold.woff") format("woff"), url("../fonts/Amelia-Basic-Bold.svg#Amelia-Basic-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 7px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 7px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Amelia-Basic';
}

@media screen and (min-width: 320px) {
  header {
    padding: 50px 5%;
    padding-bottom: 10px;
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    z-index: 10;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(63%, rgba(255, 255, 255, 0)), to(rgba(17, 19, 19, 0.640975)));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 63%, rgba(17, 19, 19, 0.640975) 100%);
  }
  header.header-border-top {
    margin-top: 46px;
  }
  header .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .container .logo {
    position: relative;
    min-width: 120px;
    max-width: 120px;
    overflow: hidden;
  }
  header .container .logo a .header-logo {
    width: 100%;
    min-width: 120px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  header .container .logo a .header-logo-color {
    width: 120px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  header .container .menu-button {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    cursor: pointer;
    padding: 2px;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
  }
  header .container .menu-button span {
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    width: 90%;
    height: 1px;
    margin: 3px 0;
    background-color: #fff;
  }
  header .container .menu-button.active span {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  header .container .menu-button.active span:first-child {
    -webkit-transform: scale(0.9) translateX(0px) translateY(3.5px) rotateZ(45deg);
            transform: scale(0.9) translateX(0px) translateY(3.5px) rotateZ(45deg);
  }
  header .container .menu-button.active span:last-child {
    -webkit-transform: scale(0.9) translateX(0px) translateY(-3.5px) rotateZ(-45deg);
            transform: scale(0.9) translateX(0px) translateY(-3.5px) rotateZ(-45deg);
  }
  header .container .menu {
    position: absolute;
    top: 100%;
    width: 100%;
    height: calc(100vh - 80px);
    right: -100%;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  header .container .menu.active {
    right: 0;
  }
  header .container .menu::after {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    content: '';
    z-index: -1;
  }
  header .container .menu > ul {
    padding: 0;
    margin: 0;
    margin-left: auto;
    width: 80%;
    height: calc(100vh - 80px);
  }
  header .container .menu > ul > li {
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    list-style: none;
    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  }
  header .container .menu > ul > li a {
    -webkit-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
  }
  header.light-skin {
    padding: 20px 5%;
    padding-bottom: 5px;
    background: #fff;
    margin-top: 0;
  }
  header.light-skin .container .logo a {
    overflow: hidden;
  }
  header.light-skin .container .logo a .header-logo {
    max-width: 120px;
    opacity: 0;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  header.light-skin .container .logo a .header-logo-color {
    max-width: 120px;
    opacity: 1;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  header.light-skin .container .menu-button {
    border: 1px solid #0099ff;
  }
  header.light-skin .container .menu-button span {
    background-color: #0099ff;
  }
  header.menu-activated {
    background-color: rgba(0, 0, 0, 0.8);
  }
  header.menu-activated .container .logo a {
    overflow: hidden;
  }
  header.menu-activated .container .logo a .header-logo {
    max-width: 120px;
    opacity: 1;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  header.menu-activated .container .logo a .header-logo-color {
    max-width: 120px;
    opacity: 0;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  header.menu-activated .container .menu-button {
    border: 1px solid #fff;
  }
  header.menu-activated .container .menu-button span {
    background-color: #fff;
  }
  header.menu-activated .container .menu > ul > li {
    padding: 1.5rem 2rem;
  }
  .hero-container {
    position: relative;
  }
  .hero-container img {
    width: 100%;
  }
  .hero-container .hero-carousel .owl-dots {
    position: absolute;
    bottom: 15px;
    right: 30px;
  }
  .hero-container .hero-carousel .owl-dots .owl-dot span {
    width: 3px;
    height: 3px;
    margin: 5px 7px;
    background-color: transparent;
    border: 1px solid white;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    border-radius: 30px;
  }
  .hero-container .hero-carousel .owl-dots .owl-dot.active span {
    background-color: #fff;
  }
  .hero-container .card-container .card {
    position: relative;
    padding: 3em 3.5em;
    display: block;
    z-index: 1;
    background-color: #26a8f5;
    color: white;
  }
  .hero-container .card-container .card .title {
    font-size: 3rem;
    line-height: 1;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
  }
  .hero-container .card-container .card p {
    font-size: 23.5px;
    line-height: 23px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .hero-container .card-container .card .see-more {
    position: absolute;
    right: 22px;
    color: #deeffd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero-container .card-container .card .see-more a {
    color: #deeffd;
    text-align: right;
    text-decoration: none;
    line-height: 16px;
    font-size: 22px;
    font-size: 1.5rem;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
  }
  .hero-container .card-container .card .see-more .custom-caret {
    width: .55rem;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    margin-left: 10px;
    -webkit-transform: translateY(0.09em) translateX(0px);
            transform: translateY(0.09em) translateX(0px);
  }
  .hero-container .card-container .card .see-more:hover a {
    color: white;
  }
  .hero-container .card-container .card .see-more:hover .custom-caret {
    -webkit-transform: translateY(0.09em) translateX(6px);
            transform: translateY(0.09em) translateX(6px);
  }
  .about-us-container {
    background-image: url("../img/about-us-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 50px 10.2%;
  }
  .about-us-container .container {
    font-size: 2.5rem;
    line-height: 1.2;
    color: #26a8f5;
    position: relative;
    font-weight: 300;
  }
  .about-us-container .container:before {
    content: "";
    width: 5%;
    min-width: 30px;
    height: 13px;
    background-color: #26a8f5;
    position: absolute;
    bottom: -30px;
  }
  .services-container {
    background-image: url("../img/services-bg.png");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services-container .item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    border: 1px solid #d8d8d8;
    display: block;
    height: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(0, 153, 255, 0);
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    position: relative;
  }
  .services-container .item .content {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem;
  }
  .services-container .item .content img.icon {
    min-width: 40px;
    width: 4rem;
    margin-right: 10px;
  }
  .services-container .item .content p {
    color: white;
  }
  .services-container .item .content p.title {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1;
  }
  .services-container .item .hidden-content {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    padding: 1rem;
    height: calc(100% - 2em);
  }
  .services-container .item .hidden-content p {
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 0;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
  }
  .services-container .item .hidden-content .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: absolute;
    bottom: 0;
    width: calc(100% - 2em);
    padding: 10px 0;
  }
  .services-container .item .hidden-content .bottom img.icon {
    min-width: 15px;
    width: 2.7rem;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  .services-container .item .hidden-content .bottom .title {
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 1;
    color: white;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  .services-container .item .blop {
    background: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    right: 15px;
    height: 15px;
    width: 15px;
    -webkit-box-shadow: 0 0 0 0 white;
            box-shadow: 0 0 0 0 white;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation: pulse 1.5s infinite;
            animation: pulse 1.5s infinite;
  }
  .services-container .item:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .services-container .item:hover .content {
    opacity: 0;
  }
  .services-container .item:hover .hidden-content {
    opacity: 1;
  }
  .services-container .item:hover .hidden-content p {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .services-container .item:hover .hidden-content .bottom img.icon {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .services-container .item:hover .hidden-content .bottom .title {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .services-container .item:hover .blop {
    display: none;
  }
  .our-clients-container {
    min-height: 100vh;
    background-image: url("../img/our-clients-bg.jpg");
    background-position: center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 50px 10.2%;
  }
  .our-clients-container .container .column {
    display: block;
    color: #0099f3;
  }
  .our-clients-container .container .column p {
    font-size: 2rem;
    font-weight: 300;
  }
  .our-clients-container .container .column .subcontent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    color: #626262;
  }
  .our-clients-container .container .column .subcontent .subcolumn ul {
    margin-left: 0;
    margin-right: 10px;
  }
  .our-clients-container .container .column .subcontent .subcolumn ul li {
    font-weight: 300;
    font-size: 1.2rem;
    list-style: none;
    position: relative;
  }
  .our-clients-container .container .column .subcontent .subcolumn ul li:before {
    background-image: url("../img/navigation.png");
    background-size: cover;
    content: '';
    width: .7em;
    height: .7em;
    position: absolute;
    left: -1.2rem;
    top: .35rem;
  }
  .advisors-container {
    background-image: url("../img/asesores-bg.png");
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 0 0 30px 20px #c1c1c1;
            box-shadow: 0 0 30px 20px #c1c1c1;
    padding: 70px 4px;
    padding-bottom: 35px;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 1;
  }
  .advisors-container .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
  }
  .advisors-container hr {
    width: 70%;
    max-width: 780px;
    background-color: #fff;
    border-color: #fff;
    margin: 0 auto;
  }
  .advisors-container p {
    margin-top: 5px;
    font-size: 1.35rem;
  }
  .advisors-container .tag {
    font-weight: 300;
  }
  .contact-container {
    min-height: 100vh;
    background-image: url("../img/contact-bg.png");
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 10.2%;
  }
  .contact-container .container .column p {
    font-weight: 300;
    color: #434343;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 45px;
  }
  .contact-container .container .column .form .form-control {
    margin-bottom: 25px;
  }
  .contact-container .container .column .form .form-control label {
    color: #454545;
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 1rem;
  }
  .contact-container .container .column .form .form-control input,
  .contact-container .container .column .form .form-control textarea {
    border-radius: 8px;
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
  }
  .contact-container .container .column .form .form-control input {
    height: 40px;
  }
  .contact-container .container .column .form .form-control textarea {
    height: 180px;
  }
  .contact-container .container .column .form .form-control-submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .contact-container .container .column .form .form-control-submit input[type="submit"] {
    background-color: #0170b1;
    color: white;
    width: auto;
    font-weight: bold;
    font-size: .9rem;
    line-height: 20px;
    padding: 4px 30px;
    border-radius: 8px;
    border: 2px solid #0170b1;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    cursor: pointer;
  }
  .contact-container .container .column .form .form-control-submit input[type="submit"]:hover {
    background-color: #fff;
    color: #0170b1;
  }
  footer {
    background-color: #191919;
    font-size: 12px;
    padding: 50px 10.2%;
  }
  footer .content {
    margin: 0 auto;
  }
  footer .content .column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 4rem;
  }
  footer .content .column .row .column {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
  }
  footer .content .column .footer-logo {
    max-width: 260px;
    width: 90%;
  }
  footer .content .column .social-logo {
    max-width: 40px;
    margin-right: 25px;
  }
  footer .content .column .icon {
    width: 38px;
    margin-right: 10px;
    margin-top: 14px;
  }
  footer .content .column a {
    text-decoration: none;
    color: white;
  }
  footer .content .column p {
    font-size: 1.2rem;
    line-height: 1.2;
  }
  footer .content .column .footer-menu {
    font-size: 1.5rem;
  }
  footer .content .column .footer-menu ul {
    margin: 5px 0;
    padding-left: 0px;
  }
  footer .content .column .footer-menu ul li {
    font-weight: 300;
    list-style: none;
    padding: 4px 0;
  }
  .container {
    margin: 0 auto;
    width: 100%;
  }
}

@media screen and (min-width: 601px) {
  header.header-border-top {
    margin-top: 46px;
  }
  header .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .container .logo {
    position: relative;
    min-width: 120px;
    max-width: 220px;
    overflow: hidden;
  }
  header .container .logo a .header-logo {
    width: 100%;
    max-width: 120px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  header .container .logo a .header-logo-color {
    width: 120px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
}

@media screen and (min-width: 783px) {
  header.header-border-top {
    margin-top: 32px;
  }
}

@media screen and (min-width: 990px) {
  header {
    padding: 50px 5%;
    padding-bottom: 10px;
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(63%, rgba(255, 255, 255, 0)), to(rgba(17, 19, 19, 0.640975)));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 63%, rgba(17, 19, 19, 0.640975) 100%);
  }
  header.header-border-top {
    margin-top: 32px;
  }
  header.menu-activated {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(63%, rgba(255, 255, 255, 0)), to(rgba(17, 19, 19, 0.640975)));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 63%, rgba(17, 19, 19, 0.640975) 100%);
  }
  header .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .container .logo {
    position: relative;
    min-width: 120px;
    max-width: 220px !important;
    overflow: hidden;
  }
  header .container .logo a .header-logo {
    width: 100%;
    min-width: 120px;
    max-width: 220px !important;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  header .container .logo a .header-logo-color {
    width: 120px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  header .container .menu-button {
    display: none;
  }
  header .container .menu {
    position: relative;
    height: auto;
    display: block;
    right: 0;
  }
  header .container .menu:after {
    display: none;
  }
  header .container .menu > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
    width: auto;
    height: auto;
  }
  header .container .menu > ul > li {
    list-style: none;
    padding: 0 2rem !important;
    border: none;
  }
  header .container .menu > ul > li a {
    -webkit-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  header.light-skin {
    padding: 20px 5%;
    padding-bottom: 5px;
    background: #fff;
  }
  header.light-skin .container .logo {
    height: 50px;
  }
  header.light-skin .container .logo a {
    overflow: hidden;
  }
  header.light-skin .container .logo a .header-logo {
    max-width: 120px;
    opacity: 0;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  header.light-skin .container .logo a .header-logo-color {
    max-width: 120px;
    opacity: 1;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  header.light-skin .container .menu > ul > li a {
    font-size: 1rem;
    font-weight: bold;
    color: #0099ff;
  }
  .hero-container {
    position: relative;
  }
  .hero-container img {
    width: 100%;
  }
  .hero-container .hero-carousel .owl-dots {
    position: absolute;
    bottom: 15px;
    right: 30px;
  }
  .hero-container .hero-carousel .owl-dots .owl-dot span {
    width: 3px;
    height: 3px;
    margin: 5px 7px;
    background-color: transparent;
    border: 1px solid white;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    border-radius: 30px;
  }
  .hero-container .hero-carousel .owl-dots .owl-dot.active span {
    background-color: #fff;
  }
  .hero-container .card-container {
    position: absolute;
    top: calc(100% - 150px);
    left: 10.2%;
  }
  .hero-container .card-container .card {
    position: relative;
    padding: 3em 3.5em;
    display: block;
    z-index: 1;
    width: 42%;
    min-width: 732px;
    background-color: #26a8f5;
    color: white;
  }
  .hero-container .card-container .card .title {
    font-size: 3rem;
    line-height: 1;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
  }
  .hero-container .card-container .card p {
    font-size: 23.5px;
    line-height: 23px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .hero-container .card-container .card .see-more {
    position: absolute;
    right: 22px;
    color: #deeffd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero-container .card-container .card .see-more a {
    color: #deeffd;
    text-align: right;
    text-decoration: none;
    line-height: 16px;
    font-size: 22px;
    font-size: 1.5rem;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
  }
  .hero-container .card-container .card .see-more .custom-caret {
    width: .55rem;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    margin-left: 10px;
    -webkit-transform: translateY(0.09em) translateX(0px);
            transform: translateY(0.09em) translateX(0px);
  }
  .hero-container .card-container .card .see-more:hover a {
    color: white;
  }
  .hero-container .card-container .card .see-more:hover .custom-caret {
    -webkit-transform: translateY(0.09em) translateX(6px);
            transform: translateY(0.09em) translateX(6px);
  }
  .about-us-container {
    background-image: url("../img/about-us-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 10.2%;
  }
  .about-us-container .container {
    font-size: 4.5rem;
    line-height: 1.2;
    color: #26a8f5;
    position: relative;
    font-weight: 300;
  }
  .about-us-container .container:before {
    content: "";
    width: 5%;
    min-width: 30px;
    height: 13px;
    background-color: #26a8f5;
    position: absolute;
    bottom: -30px;
  }
  .our-clients-container {
    min-height: 100vh;
    background-image: url("../img/our-clients-bg.jpg");
    background-position: center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 50px 10.2%;
  }
  .our-clients-container .container .column {
    width: 50%;
    display: block;
    color: #0099f3;
  }
  .our-clients-container .container .column p {
    font-size: 2.6rem;
    font-weight: 300;
  }
  .our-clients-container .container .column .subcontent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    color: #626262;
  }
  .our-clients-container .container .column .subcontent .subcolumn ul {
    margin-left: 0;
    margin-right: 90px;
  }
  .our-clients-container .container .column .subcontent .subcolumn ul li {
    font-weight: 300;
    font-size: 2.1rem;
    list-style: none;
    position: relative;
  }
  .our-clients-container .container .column .subcontent .subcolumn ul li:before {
    background-image: url("../img/navigation.png");
    background-size: cover;
    content: '';
    width: .7em;
    height: .7em;
    position: absolute;
    left: -1.8rem;
    top: .35rem;
  }
}

@media screen and (min-width: 1280px) {
  header {
    padding: 50px 5%;
    padding-bottom: 10px;
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(63%, rgba(255, 255, 255, 0)), to(rgba(17, 19, 19, 0.640975)));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 63%, rgba(17, 19, 19, 0.640975) 100%);
  }
  header.header-border-top {
    margin-top: 30px;
  }
  header .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .container .logo {
    position: relative;
    min-width: 120px;
    max-width: 220px;
    overflow: hidden;
  }
  header .container .logo a .header-logo {
    width: 100%;
    min-width: 120px;
    width: 100%;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  header .container .logo a .header-logo-color {
    width: 120px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  header .container .menu > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
  }
  header .container .menu > ul > li {
    list-style: none;
    padding: 0 2rem;
  }
  header .container .menu > ul > li a {
    -webkit-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  header.light-skin {
    padding: 20px 5%;
    padding-bottom: 10px;
    background: #fff;
  }
  header.light-skin .container .logo a {
    overflow: hidden;
  }
  header.light-skin .container .logo a .header-logo {
    max-width: 120px;
    opacity: 0;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  header.light-skin .container .logo a .header-logo-color {
    max-width: 120px;
    opacity: 1;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  header.light-skin .container .menu > ul > li a {
    font-size: 1rem;
    font-weight: bold;
    color: #0099ff;
  }
  .advisors-container {
    background-image: url("../img/asesores-bg.png");
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 0 0 30px 20px #c1c1c1;
            box-shadow: 0 0 30px 20px #c1c1c1;
    padding: 70px 4px;
    padding-bottom: 35px;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 1;
  }
  .advisors-container .title {
    font-size: 2.1rem;
    font-weight: bold;
    margin-bottom: 0;
  }
  .advisors-container hr {
    width: 70%;
    max-width: 780px;
    background-color: #fff;
    border-color: #fff;
    margin: 0 auto;
  }
  .advisors-container p {
    margin-top: 5px;
    font-size: 1.35rem;
  }
  .advisors-container .tag {
    font-weight: 300;
  }
  .services-container {
    background-image: url("../img/services-bg.png");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services-container .item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 20%;
            flex: 1 0 20%;
    width: 20%;
    border: 1px solid #d8d8d8;
    display: block;
    height: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(0, 153, 255, 0);
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    position: relative;
  }
  .services-container .item .content {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem;
  }
  .services-container .item .content img.icon {
    min-width: 40px;
    width: 4rem;
    margin-right: 10px;
  }
  .services-container .item .content p {
    color: white;
  }
  .services-container .item .content p.title {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1;
  }
  .services-container .item .hidden-content {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    padding: 1rem;
    height: calc(100% - 2em);
  }
  .services-container .item .hidden-content p {
    color: white;
    font-size: 1em;
    font-weight: 300;
    margin-top: 0;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
  }
  .services-container .item .hidden-content .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: absolute;
    bottom: 0;
    width: calc(100% - 2em);
    padding: 10px 0;
  }
  .services-container .item .hidden-content .bottom img.icon {
    min-width: 15px;
    width: 2.7rem;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  .services-container .item .hidden-content .bottom .title {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1;
    color: white;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  .services-container .item .blop {
    display: none;
  }
  .services-container .item:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .services-container .item:hover .content {
    opacity: 0;
  }
  .services-container .item:hover .hidden-content {
    opacity: 1;
  }
  .services-container .item:hover .hidden-content p {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .services-container .item:hover .hidden-content .bottom img.icon {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .services-container .item:hover .hidden-content .bottom .title {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .contact-container {
    min-height: 100vh;
    background-image: url("../img/contact-bg.png");
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 10.2%;
  }
  .contact-container .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact-container .container .column {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-container .container .column p {
    font-weight: 300;
    color: #434343;
    font-size: 4rem;
    margin: 0;
    margin-bottom: 45px;
  }
  .contact-container .container .column .form .form-control {
    margin-bottom: 25px;
  }
  .contact-container .container .column .form .form-control label {
    color: #454545;
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 1rem;
  }
  .contact-container .container .column .form .form-control input,
  .contact-container .container .column .form .form-control textarea {
    border-radius: 8px;
    border: none;
    width: 400px;
    padding: 10px;
    font-size: 1rem;
  }
  .contact-container .container .column .form .form-control input {
    height: 40px;
  }
  .contact-container .container .column .form .form-control textarea {
    height: 180px;
  }
  .contact-container .container .column .form .form-control-submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .contact-container .container .column .form .form-control-submit input[type="submit"] {
    background-color: #0170b1;
    color: white;
    width: auto;
    font-weight: bold;
    font-size: .9rem;
    line-height: 20px;
    padding: 4px 30px;
    border-radius: 8px;
    border: 2px solid #0170b1;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    cursor: pointer;
  }
  .contact-container .container .column .form .form-control-submit input[type="submit"]:hover {
    background-color: #fff;
    color: #0170b1;
  }
  footer {
    background-color: #191919;
    font-size: 12px;
    padding: 50px 10.2%;
  }
  footer .content {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .content .column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .content .column .row {
    margin-bottom: 3rem;
  }
  footer .content .column .row .column {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .content .column .footer-logo {
    max-width: 260px;
    width: 90%;
  }
  footer .content .column .social-logo {
    max-width: 40px;
    margin-right: 25px;
  }
  footer .content .column .icon {
    width: 38px;
    margin-right: 10px;
    margin-top: 14px;
  }
  footer .content .column a {
    text-decoration: none;
    color: white;
  }
  footer .content .column p {
    font-size: 1.2rem;
    line-height: 1.2;
  }
  footer .content .column .footer-menu {
    font-size: 1.5rem;
  }
  footer .content .column .footer-menu ul {
    margin: 5px 0;
    padding-left: 0px;
  }
  footer .content .column .footer-menu ul li {
    font-weight: 300;
    list-style: none;
    padding: 4px 0;
  }
  .container {
    margin: 0 auto;
    width: 100%;
  }
}
<<<<<<< HEAD
/*# sourceMappingURL=generals.css.map */
=======

.head-1 {
  font-size: 40px;
}

.thin {
  font-weight: 300;
}
>>>>>>> 6cd8a62a3181a4d2827aa37794c49b1c24706be8
