.head {
  height: 470px;
  background: blue;
}

.contenedor-general-infraestructura .contenedor-logos {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contenedor-general-infraestructura .contenedor-logos img.dec {
  position: absolute;
  display: block;
  right: 0;
  width: 18%;
  top: 25%;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}

.contenedor-general-infraestructura .contenedor-logos .cont-logos {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contenedor-general-infraestructura .contenedor-logos .cont-logos img {
  width: 40%;
  margin: 0 auto;
  margin-top: 60px;
  display: block;
}

.contenedor-general-infraestructura .contenedor-logos .cont-logos img:last-child {
  margin-bottom: 60px;
}

.contenedor-general-infraestructura .contenedor-logos .cont-info {
  background-image: url("../img/logos-bg.jpg");
  background-size: cover;
  background-position: center;
  width: 70%;
  padding: 60px 0;
  padding-left: 50px;
  padding-right: 21%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenedor-general-infraestructura .contenedor-logos .cont-info p {
  font-size: 26px;
  font-family: 'Amelia-Basic';
  font-weight: 100;
  color: white;
  margin: 20px 0;
}

.contenedor-general-infraestructura .contenedor-general-servidores {
  padding: 45px 60px;
}

.contenedor-general-infraestructura .contenedor-general-servidores p.tit {
  font-size: 35px;
  font-family: 'Amelia-Basic';
  font-weight: bold;
  color: #0099f3;
  margin: 0;
  margin-bottom: 20px;
  position: relative;
}

.contenedor-general-infraestructura .contenedor-general-servidores p.tit::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 65px;
  height: 4px;
  background: #0099f3;
}

.contenedor-general-infraestructura .contenedor-general-servidores p.subtit {
  font-size: 45px;
  font-family: 'Amelia-Basic';
  font-weight: 100;
  color: #454545;
  margin: 0;
}

.contenedor-general-infraestructura .contenedor-general-servidores .cont-servidores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-bottom: 25px;
}

.contenedor-general-infraestructura .contenedor-general-servidores .cont-servidores img {
  height: 80px;
  margin: 0 40px;
}

.contenedor-general-infraestructura .contenedor-general-servidores .cont-servidores img:first-child {
  margin-left: 0;
}

.contenedor-general-infraestructura .contenedor-general-servidores .cont-servidores img:last-child {
  margin-right: 0;
}

.contenedor-general-infraestructura .contenedor-general-desc-servidores {
  padding: 20px 0;
  background-image: url("../img/fondo-servidores.jpg");
  background-size: cover;
  background-position: center;
}

.contenedor-general-infraestructura .contenedor-general-desc-servidores .cont-items {
  width: 55%;
  margin: 0 auto;
}

.contenedor-general-infraestructura .contenedor-general-desc-servidores .cont-items p {
  font-size: 18px;
  font-family: 'Amelia-Basic';
  font-weight: 100;
  color: white;
  text-align: center;
  margin: 0;
  padding: 12px 0;
  border-bottom: 1px solid white;
}

.contenedor-general-infraestructura .contenedor-general-desc-servidores .cont-items p span {
  font-weight: bold;
}

.contenedor-general-infraestructura .contenedor-general-desc-servidores .cont-items p:last-child {
  border-bottom: 0;
}

.contenedor-general-infraestructura .contenedor-general-info-servidores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: url("../img/fondo-servidores-gris.jpg");
  background-size: cover;
  background-position: center;
}

.contenedor-general-infraestructura .contenedor-general-info-servidores .cont-servidor {
  width: 50%;
  padding: 100px;
}

.contenedor-general-infraestructura .contenedor-general-info-servidores .cont-servidor p.enc {
  font-size: 35px;
  font-family: 'Amelia-Basic';
  font-weight: bold;
  color: white;
  margin: 0;
  margin-bottom: 40px;
  position: relative;
}

.contenedor-general-infraestructura .contenedor-general-info-servidores .cont-servidor p.enc::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 65px;
  height: 4px;
  background: white;
}

.contenedor-general-infraestructura .contenedor-general-info-servidores .cont-servidor p.tit {
  font-size: 26px;
  font-family: 'Amelia-Basic';
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  margin: 0;
  margin-bottom: 10px;
}

.contenedor-general-infraestructura .contenedor-general-info-servidores .cont-servidor p.desc {
  font-size: 26px;
  font-family: 'Amelia-Basic';
  font-weight: 100;
  color: white;
  margin: 0;
  margin-bottom: 7px;
}

.contenedor-general-infraestructura .contenedor-general-info-servidores .cont-servidor img {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  display: block;
}

.contenedor-general-infraestructura .contenedor-general-info-servidores .cont-servidor:nth-child(4n), .contenedor-general-infraestructura .contenedor-general-info-servidores .cont-servidor:nth-child(4n-3) {
  background: #0099f3;
}

.contenedor-general-infraestructura .contenedor-general-info-servidores .cont-servidor:nth-child(4n) p.desc, .contenedor-general-infraestructura .contenedor-general-info-servidores .cont-servidor:nth-child(4n-3) p.desc {
  padding-left: 15px;
}

.contenedor-general-infraestructura .contenedor-general-info-servidores .cont-servidor:nth-child(4n-2) p.enc, .contenedor-general-infraestructura .contenedor-general-info-servidores .cont-servidor:nth-child(4n-1) p.enc {
  color: #0099f3;
}

.contenedor-general-infraestructura .contenedor-general-info-servidores .cont-servidor:nth-child(4n-2) p.enc::before, .contenedor-general-infraestructura .contenedor-general-info-servidores .cont-servidor:nth-child(4n-1) p.enc::before {
  background: #0099f3;
}

.contenedor-general-infraestructura .contenedor-general-info-servidores .cont-servidor:nth-child(4n-2) p.tit, .contenedor-general-infraestructura .contenedor-general-info-servidores .cont-servidor:nth-child(4n-1) p.tit {
  color: #0099f3;
}

.contenedor-general-infraestructura .contenedor-general-info-servidores .cont-servidor:nth-child(4n-2) p.desc, .contenedor-general-infraestructura .contenedor-general-info-servidores .cont-servidor:nth-child(4n-1) p.desc {
  color: #313131;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .contenedor-general-infraestructura .contenedor-logos .cont-info p {
    font-size: 22px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contenedor-general-infraestructura .contenedor-logos .cont-info p {
    font-size: 18px;
  }
  .contenedor-general-infraestructura .contenedor-general-servidores p.tit {
    font-size: 25px;
  }
  .contenedor-general-infraestructura .contenedor-general-servidores p.subtit {
    font-size: 32px;
  }
  .contenedor-general-infraestructura .contenedor-general-servidores .cont-servidores img {
    margin: 0 20px;
  }
  .contenedor-general-infraestructura .contenedor-general-info-servidores .cont-servidor {
    padding: 50px;
  }
  .contenedor-general-infraestructura .contenedor-general-info-servidores .cont-servidor p.enc {
    font-size: 25px;
  }
  .contenedor-general-infraestructura .contenedor-general-info-servidores .cont-servidor p.tit, .contenedor-general-infraestructura .contenedor-general-info-servidores .cont-servidor p.desc {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .contenedor-general-infraestructura .contenedor-logos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor-general-infraestructura .contenedor-logos .cont-logos {
    width: 100%;
  }
  .contenedor-general-infraestructura .contenedor-logos .cont-info {
    width: 100%;
  }
  .contenedor-general-infraestructura .contenedor-logos .cont-info p {
    font-size: 18px;
    margin: 20px 0;
  }
  .contenedor-general-infraestructura .contenedor-general-servidores {
    padding: 45px 30px;
  }
  .contenedor-general-infraestructura .contenedor-general-servidores p.tit {
    font-size: 25px;
  }
  .contenedor-general-infraestructura .contenedor-general-servidores p.subtit {
    font-size: 32px;
  }
  .contenedor-general-infraestructura .contenedor-general-servidores .cont-servidores {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contenedor-general-infraestructura .contenedor-general-servidores .cont-servidores img {
    height: 50px;
    margin: 0 15px;
  }
  .contenedor-general-infraestructura .contenedor-general-desc-servidores .cont-items {
    width: 75%;
  }
  .contenedor-general-infraestructura .contenedor-general-info-servidores {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor-general-infraestructura .contenedor-general-info-servidores .cont-servidor {
    width: 100%;
    padding: 50px;
  }
  .contenedor-general-infraestructura .contenedor-general-info-servidores .cont-servidor p.enc {
    font-size: 25px;
  }
  .contenedor-general-infraestructura .contenedor-general-info-servidores .cont-servidor p.tit, .contenedor-general-infraestructura .contenedor-general-info-servidores .cont-servidor p.desc {
    font-size: 18px;
  }
}
